<!DOCTYPE html>
<html>

<head>
<title>

</title>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
<script src="Lesson5_workshop.js"></script>
<script src="Lesson5_workshop_services.js"></script>

</head>

<body ng-app="myApp">

<div ng-controller="MusicCtrl as ctrl">

<div ng-controller="GenreCtrl as genre_ctrl"> 

<h3>Name</h3>
<input type="text" id="n" name="name" ng-model="ctrl.input_name" />Name

<h3>Age</h3>
<input type="text" id="a" name="age" ng-model="ctrl.input_age" />Age


<h3>Genre</h3>

<input type="radio" name="radiobuttons" id="pop" ng-model="userSelection" />Pop
<input type="radio" name="radiobuttons" id="rock" ng-model="userSelection" />Rock
<input type="radio" name="radiobuttons" id="rap" ng-model="userSelection" />Rap


<h3>Song</h3>
<ul>
   <div>
   	<li ng-repeat="item in genre_ctrl.array">

   	<span ng-bind="item"></span>	

   	</li>

   </div>

</ul>

</div>

</body>
</html>